.tabs {
  margin-bottom: 20px;
}

.tab-button {
  padding: 10px 18px;
  border: none;
  border-radius: 12px;
  background-color: #e0e0e0;
  cursor: pointer;
  font-weight: bold;
  margin: 0 5px;
}

.tab-button.active {
  background-color: #007bff;
  color: white;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}


body {
  font-family: sans-serif;
  background: #f5f5f5;
  text-align: center;
  padding: 20px;
}


h1 {
  margin-bottom: 10px;
}

#resetButton {
  padding: 10px 20px;
  font-size: 16px;
  margin-bottom: 30px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background-color: #ff6666;
  color: white;
  transition: background-color 0.2s;
}
#resetButton:hover {
  background-color: #e05555;
}

#selectAllButton {
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background-color: #66bb6a;
  color: white;
  transition: background-color 0.2s;
}
#selectAllButton:hover {
  background-color: #57a65a;
}

#captureButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background-color: #00CCFF;
  color: white;
  transition: background-color 0.2s;
}

#captureButton:hover {
  background-color: #0099CC;
}


.category {
  display: flex;
  align-items: flex-start;
  margin: 30px auto;
  justify-content: center;
  gap: 10px;
}

.category-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 60px;
}

.category-icon {
  width: 60px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(17, minmax(30px, 6vw));
  gap: 0.5vw;
  justify-content: center;
}

.image-grid img {
  width: 100%;
  height: auto;
  border-radius: 6px;
  cursor: pointer;
  border: 2px solid #ccc;
  transition: transform 0.1s, border-color 0.2s;
}


.image-grid img:hover {
  transform: scale(1.05);
  border-color: #666;
}
